<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <!-- 
        遍历数组
        v-for='(item[, index]) in 数组名' item每一项 index下标
        遍历对象
        v-for='(value, prop) in 对象名' value属性值 prop属性名
     -->
    <div id="app">
        <ul>
            <li v-for='item in list'>{{ item }}</li>
        </ul>
        <ul>
            <li v-for='(item,index) in list'>{{ item }} {{ index }}</li>
        </ul>
        <ul>
            <li v-for='(value,prop) in obj'> {{ prop }} {{ value }}</li>
        </ul>
    </div>

    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                list: ['貂蝉', '吕布', '小乔', '曹操'],
                msg: 'hello vue',
                obj: {
                    name: '吕布',
                    age: 20,
                    desc: '战士'
                }
            }
        })
    </script>
</body>

</html>