<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <!-- 
        v-model 会忽略掉表单元素原本的value checked等初始值        
    -->
    <div id="app">
        <input type="text" v-model='msg'>
        <hr>
        <textarea v-model='msg' cols="30" rows="10"></textarea>
        <hr>
        <select v-model="cityId">
            <option value="1">上海</option>
            <option value="2">无锡</option>
            <option value="3">香港</option>
            <option value="4">北京</option>
            <option value="5">哈尔滨</option>
            <option value="6">齐齐哈尔</option>
        </select>
        <hr>
        <input type='checkbox' v-model='flag'>
    </div>

    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: 'hello vue',
                cityId: 1,
                flag: true
            }
        })
    </script>
</body>

</html>